.med-divider

= will_paginate @compositions, renderer: BootstrapPagination::Rails

= render 'repertoire/compositions'

= will_paginate @compositions, renderer: BootstrapPagination::Rails

.med-divider
