@import ../mixins

.main-section
  &.dark
    padding-top: 0px
    padding-bottom: 0px
    border-bottom: 1px none #000
    // @include backimage-linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(35, 47, 56, 0.31) 99%)

.footer-section
  height: 150px
  margin-bottom: 0px
  margin-top: 0px
  padding-left: 0px
  padding-right: 0px
  border-top: 1px solid hsla(0, 0%, 100%, 0.12)
  background-color: black
  // background-color: rgba(36, 37, 37, 0.82)
  text-align: left
  li
    display: inline-block

.logos
  // position: relative
  width: 50%
  height: 100%
  max-height: 100%
  max-width: 50%
  // background-color: black

.footer-links
  margin-left: 0px
  // height: 100%
  // width: 50%
  // max-height: 100%
  // max-width: 50%

// .footer-links
//   text-align: right

// .footer-link
//   display: inline-block
//   padding: 3px 0px 3px 20px
//   float: none
//   -webkit-transition: color 350ms ease
//   transition: color 350ms ease
//   font-family: Oxygen, sans-serif
//   color: hsla(0, 0%, 100%, 0.6)
//   font-size: 11px
//   line-height: 26px
//   font-weight: 300
//   letter-spacing: 1px
//   text-decoration: none
//   text-transform: uppercase
//   &:hover
//     color: #fff
//   &.w--current
//     padding-left: 20px
//     text-align: right

// .footer-logo
//   text-decoration: none
