.main-section
  &.dark
    padding: 0px
    border-bottom: 1px none #000
    background-color: black

.footer-section
  height: auto
  margin: 0px
  padding: 0px
  border-top: 1px solid hsla(0, 0%, 100%, 0.12)
  li
    display: inline-block

.logos
  width: 49.5%
  max-width: 49.8%
  img
    margin: 32px 0px 0px 50px
    width: auto
    max-width: 200px
    height: 100px

.copyright
  line-height: 30px
  text-align: center
  font-family: oxygen
  color: white
