@import ../mixins
@import navigation_links

.main-section
  &.dark
    padding: 0px
    border-bottom: 1px none #000
    background-color: black

.footer-section
  height: auto
  margin: 0px
  padding: 0px
  border-top: 1px solid hsla(0, 0%, 100%, 0.12)
  li
    display: inline-block

.logos
  width: 49.5%
  max-width: 49.8%
  img
    margin: 32px 0px 0px 50px
    width: auto
    max-width: 200px
    height: 100px

.footer-links
  position: absolute
  margin-top: 75px
  width: 45%
  max-width: 49.8%
  text-align: right

.footer-link
  @extend .nav-link
  padding: 0px 0px 0px 20px
  font-size: 12px
  line-height: 26px
  letter-spacing: 1px

.copyright
  line-height: 30px
  text-align: center
  font-family: oxygen
  color: white
