@import ../mixins

.hero-section
  position: relative
  width: 100vw
  height: 100vh
  @include backimage-linear-gradient(315deg, rgba(30, 33, 33, 0.82), rgba(32, 32, 32, 0.14), "hero.jpg")
  background-position: 0px 0px, 70% 70%
  background-size: auto, cover

.heading
  margin-bottom: 14px
  color: #fff
  cursor: default
  font-size: 60px
  line-height: 51px
  letter-spacing: 2px

.subheading
  font-family: oxygen
  margin-bottom: 30px
  cursor: default
  color: hsla(0, 0%, 100%, 0.63)
  font-size: 22px
  font-weight: 300

.hero-content
  padding-top: 21%
  text-align: center

.default-header
  > .hero-section
    height: 400px

#goto-main-section
  text-align: center
  padding-top: 15%

.arrow-down
  cursor: pointer
  width: 64px
  height: 32px
  opacity: 0.7
  @include transition-opacity(200ms)
  &:hover
    opacity: 1
    @include transform-translate(0px, 2px)
