@import mixins

nav
  float: right
  position: relative

.nav-link
  display: inline-block
  padding: 10px 20px
  opacity: 0.7
  font-family: oxygen
  color: #fff
  cursor: pointer
  font-size: 13px
  font-weight: 300px
  letter-spacing: 0.6px
  text-transform: uppercase
  +transition-opacity(200ms)
  &:hover:not(.current)
    +transform-translate(0px, -2px)
    opacity: 1
    color: #fff
  &.current
    opacity: 1
    color: #fff

.footer-links
  position: absolute
  margin-top: 75px
  width: 49.5%
  max-width: 49.8%
  text-align: right
  > .locale-select > .line
    top: 11px

.footer-link
  @extend .nav-link
  padding: 0px 0px 0px 20px
  font-size: 12px
  line-height: 26px
  letter-spacing: 1px

.locale-select
  display: inline-flex
  padding-left: 70px
  > .nav-link
    padding: 10px

.line
  color: rgba(255, 255, 255, 0.5)
  position: relative
  cursor: default
  top: 9px
