html
  overflow-x: hidden
  height: 100%

body
  height: 100%
  font-family: Lora, sans-serif
  font-size: 14px
  line-height: 20px
  margin: 0 !important
  padding: 0 !important

#container
  min-height: 100%
  position: relative

a
  text-decoration: none
  cursor: pointer

audio
  width: 600px
  height: 40px

.main-section
  padding-top: 10px
  padding-bottom: 165px
  &.contacts-index
    padding-bottom: 150px

.med-divider
  display: block
  width: 20%
  height: 1px
  margin: 15px auto
  background-color: #dedede
  list-style-type: lower-alpha
  &.small
    margin-bottom: 0

.pagination
  display: table
  margin: 20px auto
