html
  overflow-x: hidden

body
  font-family: Lora, sans-serif
  font-size: 14px
  line-height: 20px
  margin: 0 !important
  padding: 0 !important

a
  color: #dd783f
  text-decoration: none
  &:hover
    color: #c2581b

audio
  width: 600px
  height: 40px
