div
  .navbar[data-collapse="tiny" data-animation="over-right" data-duration="400" data-ix="navbar"]
    .nav-container
      a.logo[href="/"]
      / .long-text
      /   | Escape.
      nav[role="navigation"]
        a.nav-link[href=''] repertoire
        a.nav-link[href=''] gallery
        a.nav-link[href=''] press
        a.nav-link[href=''] members
        a.nav-link[href=''] contacts
      / .w-nav-button.w-clearfix.w-hidden-main.w-hidden-medium.w-hidden-small.menu-button
      /   .w-icon-nav-menu.menu-icon
      /   .menu-link
      /     | MENU
/   .w-section.hero-section
/     .w-container.hero-content
/       .hero-heading[data-ix="hero-text"]
/         | DAT-arkestr
/       .hero-subheading[data-ix="hero-text-2"]
/         | We travel the world in search of stories. Come along for the ride.
/   #posts.w-section.main-section.bottom-padding
/     #Latest-post.w-container
/       h2.section-title
/         | Our creativity
/       .section-heading
/         .med-divider
/       .w-dyn-list
/         .w-dyn-items.w-row.w-clearfix
/           .w-dyn-item.w-col.w-col-6.featuredthumbnail
/             a.w-inline-block.featured-wrapper[data-ix="featured-wrapper"]
/             div
/               .featured-image
/             .featured-text
/               .featured-title
/               .featured-description
/               .featured-details
/                 .w-clearfix
/                   img.author-img
/                   .author-title.lite
/         .w-dyn-empty
/           p
/             | No items found.
/     .w-container
/       .section-heading
/         .med-divider
/   .w-section.main-section.dark
/     .footer-section
/       .w-container
/         .w-row
/           .w-col.w-col-4.w-col-small-4
/             a.w-inline-block.footer-logo[href="/"]

/             .long-text
/               | Escape.
/           .w-col.w-col-8.w-col-small-8.footer-links
/             a.footer-link[href="/"]
/               | Home
/             a.footer-link[href="/categories"]
/               | Categories
/             a.footer-link[href="/about"]
/               | About
/             a.footer-link[href="/contact"]
/               | Contact
