@font-face
  font-family: oxygen
  src: font-url("oxygen/OxygenRegular.eot")
  src: font-url("oxygen/OxygenRegular.eot?#iefix") format("embedded-opentype"), font-url("oxygen/OxygenRegular.woff") format('woff'), font-url("oxygen/OxygenRegular.ttf") format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'lightcase'
  src: font-url("lightcase/lightcase.eot")
  src: font-url("lightcase/lightcase.eot?#iefix") format("embedded-opentype"), font-url("lightcase/lightcase.woff") format("woff"), font-url("lightcase/lightcase.ttf") format("truetype"), font-url("lightcase/lightcase.svg") format("svg")
  font-weight: normal
  font-style: normal
