@import 'mixins'

.logo
  img
    height: 30px
    width: 30px
    opacity: 0.7
    &:hover
      @include transform-translate(0px, -2px)
      opacity: 1

.navbar
  position: absolute
  left: 0px
  top: 0px
  right: 0px
  padding-top: 17px
  padding-bottom: 17px
  background-color: transparent
  @include backimage-linear-gradient(270deg, rgba(0, 0, 0, 0.33) 10%, transparent 99%)

.nav-container
  margin-left: auto
  margin-right: auto
  max-width: 940px

.nav-link
  display: inline-block
  padding: 10px 20px
  opacity: 0.7
  font-family: oxygen
  color: #fff
  font-size: 12px
  font-weight: 300
  letter-spacing: 0.6px
  text-transform: uppercase
  @include transition-opacity(200ms)
  &:hover
    @include transform-translate(0px, -2px)
    opacity: 1
    color: #fff
  &.current
    opacity: 1
    color: #fff

.hero-section
  position: relative
  width: 100vw
  height: 100vh
  @include backimage-linear-gradient(315deg, rgba(30, 33, 33, 0.82), rgba(32, 32, 32, 0.14), 'hero.jpg')
  background-position: 0px 0px, 70% 70%
  background-size: auto, cover

.hero-heading
  margin-bottom: 14px
  color: #fff
  font-size: 50px
  line-height: 51px
  letter-spacing: 2px

.hero-subheading
  font-family: oxygen
  margin-bottom: 30px
  color: hsla(0, 0%, 100%, 0.63)
  font-size: 18px
  font-weight: 300

.hero-content
  padding-top: 21%
  text-align: center

// .menu-link
//   display: inline-block
//   margin-right: 1px
//   padding-right: 5px
//   padding-left: 5px
//   float: left
//   font-family: Oxygen, sans-serif
//   font-size: 12px
//   line-height: 14px

// .menu-icon
//   display: inline-block
//   float: right
//   line-height: 13px

// .menu-button
//   display: block
//   margin-top: 0px
//   padding: 10px 8px 9px
//   float: right
//   border-radius: 2px
//   -webkit-transition: background-color 350ms ease, color 350ms ease
//   transition: background-color 350ms ease, color 350ms ease
//   color: hsla(0, 0%, 100%, 0.85)
//   &:hover
//     background-color: hsla(0, 0%, 100%, 0.1)
//     color: #fff
//   &.w--open
//     background-color: hsla(0, 0%, 100%, 0.25)
