html, body
  height: 100%
  position: static !important
  overflow: hidden

body
  font-family: Lora, sans-serif
  color: #333
  font-size: 14px
  line-height: 20px
  margin: 0 !important
  padding: 0 !important

a
  color: #dd783f
  text-decoration: none
  &:hover
    color: #c2581b
    text-decoration: none

nav
  float: right
  position: relative

// img
//   display: inline-block
//   max-width: 100%

// p
//   margin-bottom: 15px
//   font-size: 15px
//   line-height: 22px

// .long-text
//   margin-top: 7px
//   color: #fff
//   font-size: 26px
//   line-height: 26px

// html.w-mod-js *
//   &[data-ix="navbar"]
//     opacity: 0
//   &[data-ix="hero-text"]
//     opacity: 0
//     -webkit-transform: translate(0px, -10px)
//     -ms-transform: translate(0px, -10px)
//     transform: translate(0px, -10px)
//   &[data-ix="hero-text-2"]
//     opacity: 0
//     -webkit-transform: translate(0px, 10px)
//     -ms-transform: translate(0px, 10px)
//     transform: translate(0px, 10px)
//   &[data-ix="hero-button"]
//     opacity: 0
//     -webkit-transform: scale(0.97, 0.97)
//     -ms-transform: scale(0.97, 0.97)
//     transform: scale(0.97, 0.97)
//   &[data-ix="view-more"]
//     opacity: 0
//     -webkit-transform: translate(0px, 40px)
//     -ms-transform: translate(0px, 40px)
//     transform: translate(0px, 40px)
