= link_to 'repertoire', '', class: class_name
= link_to 'gallery', '', class: class_name
= link_to 'press', '', class: class_name
= link_to 'members', '', class: class_name
= link_to 'contacts', '', class: class_name
